<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <link rel="stylesheet" href="../css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}">
    <link rel="stylesheet" href="../css/skins/_all-skins.min.css" th:href="@{/css/skins/_all-skins.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
    />
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css" th:href="@{/DataTables/datatables.min.css}"/>
</head>
<body>
</body>
</html>

